body {
    background-color: #667292;
}

.article{
    width: 70vw;
    margin: 0 auto;
    padding: 40px;
    overflow: hidden;
}

.route{
    margin-top: 70px;
    width: 40vw;
}

.overzicht{
    width: 350px;
    height: 450px;
    background-color: #5d6683;
    margin:70px 15vw 0 auto;
}

.overzicht h3{
    border-bottom: solid white 1px;
    margin-bottom: 20px;
}

.overzicht ul{
    margin-bottom: 30px;
    padding-left: 20px;
}

.reviews,.ratings{
    display: inline;
    float: left ;
    padding-top: 70px;
}

.ratings{
    padding-left: 50px;
}

.routetext a{
    background-color: #5d6683;
    text-decoration: none;
    padding:10px;
}

.routetext a:hover{
    cursor: pointer;
    background-color: #525a72;
}

.routetext p{
    margin-bottom: 20px;
    width: 20vw;
}

.routetext{
    float: right;
    margin-top: 90px;
}