main{
    background-image: url(../img/254a3108-b445-455b-a27b-cb3dcb8f65b0.jpeg);
    height: 66.668vw;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}   

main div{
    float: left;
    background-color: #667292;
    width: 900px;
    height: 700px;
    margin: 150px;

}

#welkom{
    font-size: 35px;
    padding-left: 20px;
    padding-right: 50px;
}

#myDescription{
    padding-top: 5px;
    font-size: 17px;
}

h2{
    padding-bottom: 5px;
}

#mainHeader{
    font-size: 45px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}