main{
    min-height: 100vh;
}

.main{
    background-image: url(../img/254a3108-b445-455b-a27b-cb3dcb8f65b0.jpeg);
    height: 66.668vw;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}   

.mainblock{
    float: left;
    background-color: #667292;
    width: 700px;
    height: 550px;
    margin: 200px 0 0 250px;

}

.blockpadding{
    padding: 20px;
}

h1{
    padding-left: 10px;
    padding-bottom: 15px;
    font-size: 35px;
}

.welkom{
    padding-left: 10px;
    font-size: 25px;
    padding-right: 50px;
}

.slidetext{
    padding-top: 5px;
    font-size: 17px;
}

.mainHeader{
    font-size: 45px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}

.routesoon{
    text-align: center;
    width: 200px;
    height: 200px;
    border: solid 3px rgb(238, 255, 0);
}