*{
    font-family: RijksText,Arial,sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    align-items: center;
    background-color: #667292;
    color: #ffffff;
    overflow: hidden;
}

h1{
    font-size: 250%;
    display: inline;
}

nav{
    display: flex;
    float: right;
}

nav a{
    line-height: 30px;
    padding-right: 10px;
}

nav img{
    height: 30px;
    padding-right: 10px;
}

.header{
    width: 50vw;
}

main{
    background-image: url(../img/254a3108-b445-455b-a27b-cb3dcb8f65b0.jpeg);
    height: 1280px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

main div{
    float: left;
    background-color: #667292;
    width: 900px;
    height: 700px;
    margin: 150px;

}

footer{
    background-color: #667292;
    color: white;
}

#line{
    margin-left: 20px;
    margin-right: 20px;
    border-top: solid 2px white;
}

.pointer:hover{
    cursor: pointer; 
}