*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    background-color: #4E4E4E;
    color: white;
}

nav p{
    display: inline;
    margin-right: 10px;
}

.vlaggen img{
    height: 33px;
    display: inline;
    margin: 10px;
}

main{
    background-image: url(../img/Rijksmuseumb1.jpeg);
    height: 200px;
}

main div{
    background-color: #4E4E4E;
}

footer{
    background-color: #4E4E4E;
}

#line{
    margin-left: 20px;
    margin-right: 20px;
    border-top: solid 2px black;
}

.cursorclick:hover{
    cursor: pointer; 
}