*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    background-color: #4E4E4E;
    color: white;
    height: 60px;
}

nav p{
    display: inline;
    margin-right: 10px;
}

nav{
display: inline-flex;
align-self: center;
}

.vlaggen img{
    display: inline;
    height: 33px;
    margin: 10px;
}

.vlaggen{
    display: inline-flex;
    align-self: center;
}

h1{
    height: 50px;
    display: inline-flex;
    margin: 10px;
}

.navBar{
    display: inline-flex;
    float: right;
    justify-content: end;
}

main{
    background-image: url(../img/Rijksmuseumb1.jpeg);
    height: 1280px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

main img{
    width: 100%;
    height: 100%;
}

main div{
    display: flex;
    background-color: #4E4E4E;
    width: 900px;
    height: 700px;
    margin-right: 50px;
    float: right;
    justify-content: end;
    margin-top: 50px;
}

footer{
    background-color: #4E4E4E;
}

#line{
    margin-left: 20px;
    margin-right: 20px;
    border-top: solid 2px black;
}

.pointer:hover{
    cursor: pointer; 
}