main{
    background-image: url(../img/254a3108-b445-455b-a27b-cb3dcb8f65b0.jpeg);
    height: 66.668vw;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}   

main div{
    float: left;
    background-color: #667292;
    width: 900px;
    height: 700px;
    margin: 150px;

}